<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <%= image_tag('hikma_PrimaryHorizontal.png', alt: 'Hikma Academy logo') %>
    </div>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li><a href="#about" class="footer-nav-link">About Us</a></li>
        <li><a href="#contact" class="footer-nav-link">Contact Us</a></li>
        <li><a href="#course" class="footer-nav-link">Course</a></li>
        <li><a href="#blog" class="footer-nav-link">Blog</a></li>
      </ul>
    </nav>
    <ul class="social-media">
      <li>
        <a href="https://www.instagram.com/yourusername">
          <%= image_tag('instagram.png', alt: 'Instagram icon', class: 'instagram') %>
        </a>
      </li>
    </ul>
    <hr>
    <div class="footer-copyright">
        <p>5995 Timber Trail SE, Prior Lake, MN 5537, United States</p>
        <p class="phone-and-address">952-447-7786 | hikmaacademy.mn@gmail.com</p>
        <p>Copyright © 2024 Hikma Academy</p>
    </div>
  </div>
</footer>
