<div class="welcome-message">
  <h1>Welcome To Hikma Academy</h1>
  <p class="quote">“Glad tidings to that individual who becomes a Miftaah (key) towards good and a lock towards evil.” (Sunan Ibn Majah)</p>
  <p class="prophet">— Prophet Muhammad ﷺ</p>
</div>


<h2 class="second-header-msg">Unlock Your Potential for Knowledge</h2>

<div class="highlights">
  <div class="Featured-Courses">
    <h2>Diverse Learning Paths</h2>
    <p>Explore our comprehensive courses, crafted for both onsite engagement and online convenience. Embark on a journey of Islamic education accessible wherever you are.</p>
    <a href="<%= courses_path %>" class="learn-more">Learn More →</a>

  </div>
  
  <div class="Parents-card">
    <h2>Youth Islamic Education</h2>
    <p>Unlock the doors of understanding for your child with captivating courses on the Quran and Islamic values. Enroll them in a learning adventure that shapes heart and mind.</p>
    <a href="#" class="learn-more">Learn More →</a>
  </div>
</div>


