<div class="welcome-message">
  <h1>Welcome To Hikma Academy</h1>
  <p class="quote">“Glad tidings to that individual who becomes a Miftaah (key) towards good and a lock towards evil.” (Sunan Ibn Majah)</p>
  <p class="prophet">— Prophet Muhammad ﷺ</p>
</div>

<div class="bottom-slant"></div>

<h2 class="second-header-msg">Unlock Your Potential for Knowledge</h2>
