<%= turbo_frame_tag "cart" do %>
  <div class="jumbotron">
      <h1 style=" text-align: center;">Cart</h1>
      <% if @cart.orderables.count > 0 %>
        <%= render "carts/orderables" %>
      <% else %>
        <p style=" text-align: center;">Your cart is empty</p>
      <% end %>
  </div>
<% end %>