<h1 class= "teachers-page-title">Meet Our Teachers</h1>
<div class="teachers-container">
  <div class="teacher">

    <%= image_tag "kaltun4.png", class: "teacher-image", width: "250", height: "250" %>
    <h2>Ustadha Kaltun Karani</h2>
    <div class="teacher-info">
    
      <p>
        Ustadha Kaltun Karani is the founder of Hikma Academy, where she teaches tafsir and Islamic studies for spiritual growth and intentional living. She is a mental health psychotherapist and life coach and is the author of Intentionally Rising, a lifestyle design workbook utilizing Islamic principles of personal development. Kaltun has a bachelor’s of Business and Marketing from the Ohio State University and in Islamic Studies from AlMaghrib Institute. She has a master’s in School Counseling from the University of Wisconsin in River Falls. She received a diploma in Islamic Psychology from Cambridge Muslim College. Kaltun has been active in the community since 2007 teaching and mentoring women and girls in spiritual growth and development. She’s a 2022 Bush Foundation fellow exploring Dugsi reform and nurturing faith and well-being in the community.
      </p>
    </div>
  </div>

  <div class="teacher">
    <%= image_tag "Fathiya.png", class: "teacher-image", width: "250", height: "250" %>
    <h2>Fathiya Ahmed</h2>
    <div class="teacher-info">
     
      <p>
        Fathiya Ahmed memorized the Qur’an at 19 while completing a bachelor’s degree from the University of Minnesota in Family Social Science. After that, she pursued a 2-year Islamic studies degree from Abubakr As-Saddique Islamic Institute and local Minnesota scholars. Fathiya was eager to connect with and understand the Quran, so she also enrolled in Arabic courses online at Fajr Center in Egypt. She was blessed to move to Madinah and completed a 2-year Arabic and Islamic studies program. She’s also focusing on the sciences of the Quran and is a student at the Tafsir Center for Quranic Studies. Fathiya enjoys reading, writing, cooking, and spending time with family and friends. If you have any questions, email us at fathiya@hikmaacademy.org
      </p>
    </div>
  </div>

  <div class="teacher">
 
    <%= image_tag "roun2.png", class: "teacher-image", width: "250", height: "250" %>
    <h2>Roun Said</h2>
    <div class="teacher-info">
     
      <p>
        Roun Said is a mental health therapist, doctoral candidate, and a community-engaged researcher. She received her bachelor’s degree in Human Development and Family Science from The Ohio State University and her master’s degree in Clinical Mental Health Counseling from University of Dayton. Currently, she is working on her PhD in Family Social Science at the University of Minnesota and is pursuing Islamic knowledge as a student through Jannah Institute and Ribaat Academic Institute.
        As a Level 1 trained TIIP (Traditional Islamically Integrated Psychotherapy) Therapist with additional trainings in Cognitive Behavioral Therapy, Acceptance and Commitment Therapy, and Dialectical Behavioral Therapy, Roun’s work blends Islamic practices and Western psychology into a holistic, strengths-based approach.
      </p>
    </div>
  </div>
</div>

