<div class="center-container">
    <h1>Welcome to the Student Experience Page!</h1>
    <p>This is where you can learn about our amazing student experience!</p>
</div>

<div style ="text-align: center;">
    <div class="img-border">
        <h3>What do you love most about Hikma Academy?</h3>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/HhVe3PBFgTM" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="img-border">
        <h3>What are you learning?</h3>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/XzKKQD8yIwI" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div class="testimonial">
    <h2>There's nothing I look forward to more than my Sunday mornings</h2>
    <img src="https://hikmaacademy.com/wp-content/uploads/2016/04/fsssfzgz-e1474528069550-300x300.png" alt="Hikma Academy Image 1">
    <p>I've attended Hikma Academy for more than a year as a scholarship student and there's nothing I look forward to more than my Sunday mornings. Islamic studies in traditional dugsis have always been cut and dry, but Hikma makes it engaging and helps young girls figure out how to integrate the deen into their lives, not just memorize it. I'm grateful, and may Allah fill this program with nothing but barakah. Ameen.</p>
    <div class="author">Salma Ali</div>
</div>

<div class="testimonial">
    <h2>Amazing, powerful, and very educational</h2>
    <img src="https://hikmaacademy.com/wp-content/uploads/2016/09/agraheah-e1474576438815-300x300.png" alt="Hikma Academy Image 2">
    <p>My experience with Hikma academy has been an amazing, powerful, and very educational journey. What I enjoyed the most about this program is the fact each chapter or Surah we learned each week had applied to my daily life, empowered me to learn more about my Deen, and improve my interaction with Allah AllahmduAllah! The pursuit of studying Quran was to find my place within the holy book to be able to connect and increase my understating of the words I was reading so I am able to apply it to my everyday life which this program and the teacher has done phenomenal job! She was always prepared to lecture, empower/wow us, and leave us with more desire to learn more.</p>
    <div class="author">Bahja Mohamud</div>
</div>

<div class="testimonial">
    <h2>In a room full of potentials and hope</h2>
    <img src="https://hikmaacademy.com/wp-content/uploads/2016/09/Farhiya-Hassan-e1474576786408-300x300.png" alt="Hikma Academy Image 3">
    <p>My name is Farhiya Hassan and I'm assistant for Ustadha Kaltun Karani here at Hikma Academy. I have been working with her and wonderful bright teen students for a year. I also have been a student taking classes with the adults. Growing up in America and going to Islamic schools or the weekend schools here I understand how most of our students feel. I'm pretty jealous of how they're learning the Quran and the Sunnah. Kaltun's teaching is different than what we are used to. While teaching the Tafseer (translation) of the Quran she combines it with the Seerah (biography) of the Prophet (PBUH). The students are learning to understand their religion better and be proud of it. When the class ends each student is walking out feeling touched and amazed at more than 1 thing that resonated with them. Sunday is the most exciting day of the week because I'm in a room full of potentials and hope. I see our future doctors, lawyers and scholars. I see women that know their religion and can teach it to their families, neighbors, coworkers and colleagues. I see sisterhood, friendships, compassion and love.  I see modesty and honor because we see all of this and more in our teacher Kaltun. You can finish school, be a person who loves the Quran and teaches it, be a wife, daughter and a mother and still have time for fun and friends. Our teachers should model for us so we can follow easily and that's what Hikma Academy offers to be: INSPIRATION while LEARNING.</p>
    <div class="author">Farhiya Hassan</div>
</div>