<div class="about-container">
<h1>About Us</h1>

  <div class="content-box">
  <p><strong>  Our Mission:</strong>
  <br>
  <%= @mission %></p></div>
  <div class="content-box"><p><strong> Our Vision:</strong>
  <br>
  <%= @vision %></p></div>
</div>

<br>

<div class="core-container">
<h1>Educational Approach & Values:</h1>
  <%= image_tag "core-values.png", width: "950", height: "150" %>
  <div class="content-box">
    <p><em><strong>Engaging Experience:</strong></em> 
    <br>
    We want to provide an engaging experience where you feel safe yet challenged to grow. We believe in the power of positive relationships to facilitate the process of learning, healing, and growing. We aim to restore the prophetic methodology of teaching Islam with compassion and wisdom.</p>
  </div>
  <div class="content-box">
    <p><em><strong>Sacred Knowledge:</em></strong>
    <br>
     We prioritize studying the Quran and Sunnah as sources of guidance, inspiration, and shaping of mindsets and behavior. We connect it to modern-day tools and strategies to facilitate the process of learning.</p>
  </div>
  <div class="content-box">
    <p><em><strong>Healing & Growth:</em></strong> 
    <br>
    We believe in the power of reflective practice to heal from undesired ways of being and grow into more spiritually aligned and fulfilled people. Our goal in this Dunya is to continuously purify our nafs to attain Jannah in the Akhira.</p>
  </div>
  <div class="content-box">
    <p><em><strong>Community:</em></strong>
    <br>
     When we cultivate an environment with the above values, a byproduct is a sense of community and belonging. The students build a village where trust, support, and meaningful relationships are built.</p>
  </div>
</div>
