<div class="about-container">
<h1>About Us</h1>
  <p><strong> Our Mission:</strong> <%= @mission %></p>
  <p><strong>Our Vision:</strong> <%= @vision %></p>
</div>
<br>

<h1> Our Educational Philosophy and Core Values</h1>

<div class= "core-container">
<p>PLEASANT LEARNING ENVIRONMENT<br> A peaceful and beautiful environment that promotes a safe -non-judgmental- and pleasant learning experience. We prioritize positive teacher-student relationship. We utilize engaging teaching strategies.  We also believe fun is a necessary ingredient of learning.</p>
<p>SACRED KNOWLEDGE <br> We prioritize studying the meaning of the Quran and connect it to the Seerah of the Prophet salla Allahu alayhi wassalam as it is the source for all knowledge. We connect it to modern day research and practical sciences to facilitate the process of learning.</p>
<p>PERSONAL EXPERIENCE & GROWTH <br> We relate what we are learning to our personal lives; our own experiences and development as a whole person. We use reflective practice to aid in the personal process of learning.</p>
<p>SISTERHOOD <br> When we strive to foster an environment with the above values, a byproduct is sisterhood.  The students build a village where trust, support and socializing are nurtured.</p>
</div>