body.course-page {
    background-color: #C48B39;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10vh;

    padding: 10vh;
}

.img {
    width: 300px;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

.card {
  overflow: hidden;
  background-color: white;
  border: 1px solid #C48B39;
  padding: 8px;
  border-radius: 12px;
  margin: 20px;
  width: 300px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.tag {
  padding: 4px 8px;
  border: 1px solid #C48B39;

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: #C48B39;
}
  

.name {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}


.p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
  text-overflow: ellipsis;
}

.tags {
  display: flex;
  justify-content: space-around;
}


