.welcome-message {
    color: white;
    text-align: center;
    font-family: 'Athelas', serif;
    position: absolute;
    bottom: 54%; 
    z-index: 1;
    left: 0;
    right: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

.welcome-message h1,
.welcome-message .quote,
.welcome-message .prophet {
  margin-bottom: 0.5em;
  font-family: 'Avenir', sans-serif;
}

.welcome-message h1 {
  font-size: 3rem; 
}

.welcome-message .quote {
  font-style: italic;
}


.img-container {
    position: relative;
}

.img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

img.banner {
    margin-top: 0;
    width: 100%;
    height: 30em;
    position: relative;
    z-index: 0; 
    object-fit: cover;
}

  

.second-header-msg{
    margin-top: 70px;
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Athelas', serif;
}


  
.highlights {
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin: 2rem auto;
    max-width: 50em;
    height: 23em;
    position: relative;
    font-family: 'Avenir', sans-serif;
}

.Featured-Courses{
    border-bottom: 4px solid rgba(190, 30, 30, 1);
}
.Featured-Courses .learn-more {
    color: rgb(190, 30, 30) !important;
}

.Parents-card{
    border-bottom: 4px solid #DDBA88;
}


.Parents-card .learn-more {
    color: #DDBA88 !important; 
}


.highlights > div {
    flex: 1;
    background-color: #FFFFFF;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}

.Featured-Courses:hover {
    opacity: 0.7; 
    background-color: rgba(190, 30, 30, 0.3); 
}


.Parents-card:hover {
    opacity: 0.7; 
    background-color: rgba(221, 186, 136, 0.3); 
}


.highlights > div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


  
.highlights h2 {
    text-align: center;
    margin-bottom: 1rem; 
}
  
.highlights p {
    text-align: center;
    margin-bottom: 1rem; 
    line-height: 1.6;
}
  

.highlights .Parents-card {
    color: black;
}
  
.highlights a.learn-more {
    color: #BE1E1E;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}


.home_student_quote {
    padding: 10em 0;
    width: 100%;
    height: 50%;
    background-color: #f3f2f2; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000; 
}

  .home_student_quote span {
      font-size: 2.5rem;
      text-align: center;
      max-width: 80%;
  }
  .home_student_quote hr {
      border: none; 
      margin: 20px 0; 
  }

  /* ......................................................................... */

  .hand-raise {
    width: auto; 
    max-width: 100%; 
    height: 100%; 
    min-width: 200px; 
    object-fit: cover;
  }

  .side-by-side-containers {
    display: flex;
  }

  .hand-raising-container {
      width: 50%;
    }
  
  .why-hikma-container {
    flex: 1;
    padding: 0 5em; 
    margin: auto;


  }

  .section-home-why {
    align-items: center;
    background-color: #ffffff;
  }
  
  .why-hikma-container h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .why-hikma-container p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #BE1E1E;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .about-button:hover {
    background-color: #DDBA88;
  }

    /* ......................................................................... */
  
  @media screen and (max-width: 576px) {
    
    .highlights {
      flex-direction: column;
      align-items: center;
    }
  
    .highlights > div {
      width: 90%;
      margin-bottom: 2rem;
    }

    .side-by-side-containers {
      flex-direction: column;
    }
    
    .hand-raising-container,
    .why-hikma-container {
      width: 100%; 
    }

    .why-hikma-container h2 {
      font-size: 2rem; 
      margin-bottom: 8px; 
    }
    
    .why-hikma-container p {
      font-size: 16px; 
      line-height: 1.5; 
      margin-bottom: 16px; 
    }
    
    .about-button {
      font-size: 14px; 
      padding: 8px 16px; 
    }
  }

  @media screen and (max-width: 768px) {
    .hand-raising-container,
    .why-hikma-container {
      max-width: 100%; 
      padding-right: 10px; 
      padding-left: 0; 
    }

    .why-hikma-container h2 {
      font-size: 2.5rem; 
    }
    
    .why-hikma-container p {
      font-size: 17px; 
      line-height: 1.6; 
    }
    
    .about-button {
      font-size: 16px; 
      padding: 10px 20px; 
    }
  }
  
/* .............................................................................. */

@media screen and (max-width: 768px) {
  .welcome-message {
    font-size: 1em;
    bottom: 48%;
  }

  .welcome-message h1 {
    font-size: 2.5rem;
  }

  .welcome-message .quote {
    font-size: 1em;
  }

  .welcome-message .prophet {
    font-size: 1em;
  }
}

h1 h2 h3{
    font-family: 'Athelas', serif;
}
p {
    font-family: 'Avenir', sans-serif;
}