
.dash-cont {
    display: flex;
    min-height: 100vh; 
    font-family: 'Avenir', sans-serif;
}



.aside {
    width: 250px; 
    background-color: #bfa07b;
    color: white;

}


.user-profile {
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Avenir', sans-serif;
  }
  
  .user-profile-picture {
    width: 130px; 
    height: 130px; 
    object-fit: cover; 
    margin-bottom: 10px; 
  }
  
  .user-name {
    margin-top: 10px;
    font-size: 1.2em; 
    font-family: 'Avenir', sans-serif;
  }

.main-content {
    width: 73.2em;
    background-color: white;
    padding-left: 20px;
    box-shadow: 0 -4px 10px -10px #bfa07b; 
}

.nav-list {
    list-style: none; 
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-item a {
    display: block; 
    padding: 15px 20px;
    color: white; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}


.nav-item a:hover {
    background-color: #555; 
}

.courses-cont {
    width: 90%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); 
    /* gap: 20px; */
    padding: 20px;
    font-family: 'Avenir', sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* overflow: hidden; 
    grid-auto-flow: dense; */
}


.course-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    font-family: 'Avenir', sans-serif;
}

.student_enrollment_count{
    padding-left: 10px;
}

.course-card h3 {
    font-size: 1.5em;
    color: #333;
    margin: 0;
    padding: 20px;
    background-color: #eaeaea;
    border-bottom: 1px solid #ddd;
}

.courses {
    display: none; 
}


@media only screen and (max-width: 768px) {
    .dash-cont {
        flex-direction: column; /* Stack items vertically */
    }

    .aside {
        width: 100%; /* Take full width */
    }

    .main-content {
        width: 100%; /* Take full width */
    }

    .courses-cont {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust for smaller screens */
        gap: 10px; /* Reduce gap between columns */
    }
}